<template>
  <v-main>
    <section id="hero">
      <v-row no-gutters>
        <v-img
            height="900"
            :min-height="'calc(50vh - ' + $vuetify.application.top + 'px)'"
            src="https://images-ext-1.discordapp.net/external/nfkGkDDDly-5YEhhnregWltJitFw_cUL--HGJD3R4ng/https/www.virtru.com/wp-content/uploads/2020/12/encryptionkey.jpg?width=1191&height=670"
        >
          <v-theme-provider dark>
            <v-container fill-height>
              <v-row align="center" class="white--text mx-auto" justify="center">
                <v-col class="white--text text-center" cols="12" tag="h1">
                  <div class="justify-center text-center" style="calc((100%-200px)/2); width: 100%; ">
                    <v-img class="justify-center text-center" width="300" height="300" src="https://cdn.discordapp.com/attachments/912327072507125821/913348736384663572/logo.png" style="display:inline-block;" />
                  </div>
                  <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1 black--text font-weight-bold' : 'display-2 black--text font-weight-bold']" class="font-weight-light align-center justify-center">
                  </span>
                  <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1 black--text font-weight-bold' : 'display-2 black--text font-weight-bold']" class="font-weight-light">
                    WELCOME TO
                  </span>
                  <br>
                  <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3 font-weight-bold': 'display-4 font-weight-bold']" class="font-weight-black">
                    EnQcryption
                  </span>
                </v-col>
                <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
                  <v-icon>mdi-chevron-double-down</v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </v-theme-provider>
        </v-img>
      </v-row>
    </section>
    <section id="about-me">
      <div class="py-12"></div>
      <v-container class="text-center">
        <h2 class="display-2 font-weight-bold mb-3">ABOUT COMPANY</h2>
        <v-responsive
            class="mx-auto mb-8"
            width="56"
        >
          <v-divider class="mb-1"></v-divider>
          <v-divider></v-divider>
        </v-responsive>
        <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
          If you want to make sure your data will stay safe even after the rise of the quantum machines, we, EnQryption, are able to help you deal with it.
          Our solution is a SaaS that encrypt all your data using a post quantum algorithm so no one will be able to decrypt it.
        </v-responsive>
      </v-container>
      <div class="py-12"></div>
    </section>
    <!-- Features -->
    <section id="features" class="grey lighten-3" >
      <div class="py-12"></div>
      <v-container class="text-center">
        <h2 class="display-2 font-weight-bold mb-3">ENQCRYPTION FEATURES</h2>
        <v-responsive
            class="mx-auto mb-12"
            width="56"
        >
          <v-divider class="mb-1"></v-divider>
          <v-divider></v-divider>
        </v-responsive>
        <v-row>
          <v-col v-for="({ icon, title, text }, i) in features" :key="i" cols="12" md="4">
            <v-card class="py-12 px-4" color="grey lighten-5" flat >
              <v-theme-provider dark>
                <div>
                  <v-avatar color="primary" size="88">
                    <v-icon large v-text="icon" />
                  </v-avatar>
                </div>
              </v-theme-provider>

              <v-card-title class="justify-center font-weight-black text-uppercase" v-text="title" />

              <v-card-text class="subtitle-1" v-text="text" />
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>
    <!-- Stats -->
    <section id="stats">
      <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
          src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
      >
        <v-container fill-height>
          <v-row class="mx-auto">
            <v-col v-for="([value, title], idx) in stats" :key="idx" cols="12" md="3">
              <div class="text-center">
                <div
                    class="display-3 font-weight-black mb-4"
                    v-text="value"
                ></div>

                <div
                    class="title font-weight-regular text-uppercase"
                    v-text="title"
                ></div>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-parallax>
    </section>
    <!-- Features test -> encryption -->
    <section id="test-encryption">
      <div class="py-12"></div>
      <v-container class="text-center">
        <h2 class="display-2 text-center font-weight-bold mb-3">TEST OUR SYSTEM</h2>
        <v-responsive class="mx-auto mb-12" width="56">
          <v-divider class="mb-1"></v-divider>
          <v-divider></v-divider>
        </v-responsive>
        <!-- Test text method -->
        <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
          <v-text-field v-model="test_text_demo.input" label="Write your text for test encryption" />
          <v-btn :disabled="canClickText" @click="clickTestText()" class="success float-left">Test encryption</v-btn>
          <br /><br />
          <div v-if="test_text_demo.display_result">
            <v-textarea
                v-if="!test_text_demo.loading"
                counter
                label="Result encryption"
                :value="test_text_demo.result"
            ></v-textarea>
            <v-progress-circular v-if="test_text_demo.loading" :width="3" color="black" indeterminate />
          </div>
        </v-responsive>
        <!-- Test text decrypt method -->
        <v-responsive v-if="test_text_demo.result !== ''" class="mx-auto title font-weight-light mb-8" max-width="720">
          <v-text-field v-model="test_result_text_decrypt.input" label="Paste your text for test decryption" />
          <v-btn :disabled="canClickDecryptText" @click="encryptionText()" class="success float-left">Test decryption</v-btn>
          <br /><br />
          <div v-if="test_result_text_decrypt.display_result">
            <v-textarea
                v-if="!test_result_text_decrypt.loading"
                counter
                label="Result decryption"
                :value="test_result_text_decrypt.result"
            ></v-textarea>
            <v-progress-circular v-if="test_result_text_decrypt.loading" :width="3" color="black" indeterminate />
          </div>
        </v-responsive>
        <v-responsive class="mx-auto mb-12" width="56">
          <v-divider class="mb-1"></v-divider>
          <v-divider></v-divider>
        </v-responsive>
        <!-- Test file method -->
        <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
          <v-file-input v-model="test_file_demo.input" label="Drop file for test encryption" />
          <v-btn :disabled="canClickFile" @click="clickTestFile()" class="success float-left">Test encryption</v-btn>
          <br /><br />
          <div v-if="test_file_demo.display_result">
            <v-textarea
                v-if="!test_file_demo.loading"
                counter
                label="Result encryption"
                :value="test_file_demo.result"
            ></v-textarea>
            <v-progress-circular v-if="test_file_demo.loading" :width="3" color="black" indeterminate />
          </div>
        </v-responsive>
      </v-container>
      <div class="py-12"></div>
    </section>
  </v-main>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "HomeView",
    data () {
      return {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        url: 'https://enqryption.ebacala.ovh/',
        test_text_demo: {
          input: '',
          result: '',
          loading: false,
          display_result: false,
        },
        test_result_text_decrypt: {
          input: '',
          result: '',
          loading: false,
          display_result: false
        },
        test_file_demo: {
          input: null,
          result: '',
          loading: false,
          display_result: false
        },
        features: [
          {
            icon: 'mdi-account-group-outline',
            title: 'Real security for your data',
            text: 'Ensecuring datas is one of the company\'s major issues as other entities such as banks and states. That’s why EnQription propose his quantum data encryption, much robust and complex than traditionals ones.',
          },
          {
            icon: 'mdi-lock',
            title: 'Our encryption',
            text: 'The Quantum encryption is based on a qubits transmission randomly generated certifying secured data exchanges. Qubits are keys which will be used in the traditional encryption protocoles.',
          },
          {
            icon: 'mdi-shield-outline',
            title: 'Our secure system',
            text: 'Current encryptions are easier to hack. Quantum computer takes nearly 50,000 times less to process calculations which would take many years for a traditional computer. ',
          },
        ],
        stats: [
          ['24k', 'Github Stars'],
          ['330+', 'Releases'],
          ['1m', 'Downloads/mo'],
          ['5m', 'Total Downloads'],
        ],
      }
    },
    computed: {
      canClickText (){
        return this.test_text_demo.input === ''
      },
      canClickFile () {
        return this.test_file_demo.input === null
      },
      canClickDecryptText (){
        return this.test_result_text_decrypt.input === ''
      },
    },
    methods: {
      async clickTestText(){
        this.test_text_demo.display_result = true;
        this.test_text_demo.loading = true;
        let formData = new FormData()
        formData.append('input', this.test_text_demo.input)
        let result = await axios.post(`${this.url}encrypt_text`, formData, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
        });
        this.test_text_demo.result = result.data;
        this.test_text_demo.loading = false
      },
      async clickTestFile() {
        this.test_file_demo.display_result = true;
        this.test_file_demo.loading = true;
        let formData = new FormData()
        formData.append('input', this.test_file_demo.input)
        let result = await axios.post(`${this.url}encrypt_text`, formData, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
        });
        this.test_file_demo.result = result.data;
        this.test_file_demo.loading = false
      },
      async encryptionText() {
        this.test_result_text_decrypt.display_result = true;
        this.test_result_text_decrypt.loading = true;
        let formData = new FormData()
        formData.append('input', this.test_result_text_decrypt.input)
        let result = await axios.post(`${this.url}decrypt_text`, formData, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
        });
        this.test_result_text_decrypt.result = result.data;
        this.test_result_text_decrypt.loading = false;
      }
    }
  }
</script>

<style scoped>

</style>
