<template>
  <v-app>
    <v-app-bar app color="white" height="100">
      <v-avatar class="mr-3" color="grey lighten-5" size="70">
        <v-img contain max-height="70%" src="https://cdn.discordapp.com/attachments/912327072507125821/913348736384663572/logo.png" />
      </v-avatar>
      <v-toolbar-title class="font-weight-black headline">
        EnQryption
      </v-toolbar-title>
    </v-app-bar>
    <home-view />
    <v-footer class="justify-center" color="#292929" height="100">
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — EnQcryption
      </div>
    </v-footer>
  </v-app>
</template>

<script>

import HomeView from "@/views/HomeView";
export default {
  name: 'App',
  components: {HomeView},
}
</script>

<style>
</style>
